<div>
	 <nav role="navigation"> 
	    	<a ui-sref="login">Login</a>
	 </nav>
	
	<div class="centered">
		<form name="user">
			<h1>Sign Up</h1>
			<br><br>
	
			<label>Name: </label>
			<input name="user.name" type="text" ng-model="user.name" class="form-control" required/>
	
			<label>Surname: </label>
			<input  name="user.surname" type="text" ng-model="user.surname" class="form-control" required/>
	
			<label>Email: </label>
			<input name="user.email" type="text" ng-model="user.email" class="form-control" required/>
	
			<label>Password: </label>
			<input name="user.password" type="password" ng-model="user.password" class="form-control" required/>
	
			<label>Repeat password: </label>
			<input name="user.repeatedPassword" type="password" ng-model="repeatedPassword" class="form-control" required/>
	
			<br><br>
	
			<div class="button">
				<button type="submit" class="btn btn-primary" ng-click="user.$valid && signUp()">Sign Up</button>
			</div>
		</form>
	</div>
	
</div>